<h1>Listing des lignes</h1>
  
  <% @lines.each do |line| %>
    <div>
      <h2><%= best_in_place line, :title %></h2>
      <p><%= best_in_place line, :text %>/</p>
    </div>
  <% end%>

<%= link_to "Ajouter une ligne", "#">
